<p>login works!</p>

<!--<button type="button" (click)="redirectToaboutus()">aboutus</button>-->


<h1>Log in Page</h1>
<form action="home.html" method="get">
<label for="username">User Name</label>
<input type="text" id="un" name="un" required>
<p id="unerr"></p>
<br>
<br>
<label for="email">Email ID</label>
<input type="email" name="eml" id="eml" required>
<p id="emerr"></p>
<br>
<br>
<label for="password">Password</label>
<input type="password" name="psw" id="psw" required >
<p id=""></p>
<br>
<br>
<button type="submit" onclick="validate()">Log in</button>
<button type="reset">Reset</button>
<br>
<br>
