body{
    background-image: linear-gradient(to right, #6bbad1, #63c6cc, #6ed0be, #8ad8ab, #afdd97, #c8d57f, #e4ca6e, #ffbc69, #ff9c6c, #ff788a, #ff5cbb, #fb5ff7);
  }
  h1{
    text-align: center;
    padding: 30px;
    margin: 5px;
  }
  .row{
    text-align: center;
    padding: 60px;
  }
  