<p>aboutus works!</p>
<ul>
        <li><a  href="home.html">Home</a></li>
        <li><a href="contactus.html">Contactus</a></li>
        <li><a href="login.html">Login</a></li>
        <li><a  class="active" href="aboutus.html">Aboutus</a></li>
      </ul>
    <br>
    <div class="img3">
     <img src="img3.jpg" alt="aboutus" width="400px" height="300px">
     <div class="para">
     <p>This page is Student Examination Registration.
      Student Examination process and more details know in this page</p>
    </div>
    <div>
      <button type="button">Read more</button>
    </div>
    